* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #0a001b;
  color: #e5e7eb;
  line-height: 1.6;
  padding: 0;
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 4rem 2rem;
}

h1, h2 {
  color: #fbf6ff;
}

.project {
  background: #020617;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

a {
  color: #fbf6ff;
  text-decoration: none;
}
#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  opacity: 0.8;
}
